/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-decoration: none;

}

/*utils */
.bold {
    font-weight: bold;
}

/* Generals */
section {
    display: flex;
    min-height: 600px;
    justify-content: center;
    padding: 50px;
}

.container {
    display: flex;
    flex-basis: 65%;
}


.photo {
    flex-basis: 60%;
    border: 2px dashed black;
    background-color: #1E90FF;
}

.info {

    flex-basis: 40%;
    border: 2px dashed black;
    background-color: #FFC0CB;

}

a:visited {
    text-decoration: none;
}

/* header */
header {
    display: flex;
    justify-content: center;
    min-height: 80px;
    background-color: #255EE9;
    padding: 15px;

}

.main-header {
    flex-basis: 80%;
    display: flex;
    align-items: center;
    color: #fff;

}

.logo,
.login {
    flex-basis: 20%;
    text-align: center;

}

.login a {
    padding: 10px;
    background-color: #fff;
    color: #19263e;
    border-radius: 40px;

}

.link a {
    margin-right: 30px;

}

.link {
    flex-basis: 60%;
    text-align: center;
    padding: 20px;

}

a {
    color: #fff;
}

/* jumbotron */
.jumbotron {
    display: flex;
    min-height: 600px;
    justify-content: center;
    padding: 40px;
    background-image: url(../img/jumbo.png);
    background-position: center;
    background-size: cover;
    color: #fff;

}

.download-discord {
    flex-basis: 50%;
    text-align: center;

}

h1 {
    padding: 70px;
    font-size: 3.8rem
}

.download-discord p {
    font-size: 1.5rem;
    padding-bottom: 40px;
}

.download {
    font-size: 1.5rem;
    color: #19263e;
    background-color: #fff;
    padding: 20px;
    border-radius: 40px;
    margin-right: 25px;

}

.open-discord {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    background-color: #19263e;
    padding: 20px;
    border-radius: 40px;

}

/* body */

.info-call,
.quality-info {
    background-color: #D3D3D3;
}

.reverse-container {
    display: flex;
    flex-basis: 65%;
    flex-direction: row-reverse;
}

.quality-info .container {
    flex-basis: 65%;
    min-height: 900px;
    border: 2px dashed black;
    background-color: #228B22;
}

footer {
    background-color: #23272A;
}

.socials {
    flex-basis: 30%;
    background-color: #F08080;
    border: 2px dashed black;
}

/* info list*/
.info-list {
    flex-basis: 70%;
    background-color: #20B2AA;
    border: 2px dashed black;
    display: flex;


}

.list {

    flex-basis: 25%;
    border: 2px dashed #fff
}

/*main footer*/
.info-creators {
    border-bottom: 2px solid #fff;


}

.footer {
    min-height: 130px;
    padding: 30px 50px 0px 50px;

}

.bottom-bar {
    flex-basis: 100%;
    background-color: #7FFFD4;
    display: flex;
    padding: 30px 0px 30px 0px;
    border: 2px dashed black;
    justify-content: space-between;
}

.bottom-logo {

    flex-basis: 100px;
    background-color: #FFB6C1;
    border: 2px dashed black;
}

.button {

    flex-basis: 100px;
    background-color: #FFB6C1;
    border: 2px dashed black;
}